apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: controle-estoque-root
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
spec:
  project: default
  source:
    repoURL: https://github.com/RafaelGabriel325/api-controle-de-estoque.git
    targetRevision: main
    path: argocd-gitops/apps
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
