server:
  port: ${APP_PORT:8080}

cors:
  originPatterns: ${CORS_ORIGINS:http://localhost:8080,http://localhost:80}

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET:53cr37}
      expire-length: ${JWT_EXPIRE_MS:3600000}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/controleestoque?createDatabaseIfNotExist=true}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    baselineOnMigrate: true
    validateOnMigrate: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

spring-doc:
  paths-to-match: /api/**
  swagger-ui:
    use-root-path: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true